Users.Microservice/appsettings.Development.json
Users.Microservice/appsettings.json
Gateway.CookUp/appsettings.Development.json
Gateway.CookUp/appsettings.json
Recipes.Microservice/appsettings.Development.json
Recipes.Microservice/appsettings.json
Gateway.CookUp/obj/rider.project.restore.info
Recipes.Microservice/obj/rider.project.restore.info
Users.Microservice/obj/rider.project.restore.info
Gateway.CookUp/obj/rider.project.model.nuget.info
Recipes.Microservice/obj/rider.project.model.nuget.info
Users.Microservice/obj/rider.project.model.nuget.info
