Users.Microservice/appsettings.Development.json
Users.Microservice/appsettings.json
Gateway.CookUp/appsettings.Development.json
Gateway.CookUp/appsettings.json
Recipes.Microservice/appsettings.Development.json
Recipes.Microservice/appsettings.json
Gateway.CookUp/obj/rider.project.restore.info
Recipes.Microservice/obj/rider.project.restore.info
Users.Microservice/obj/rider.project.restore.info
Gateway.CookUp/obj/rider.project.model.nuget.info
Recipes.Microservice/obj/rider.project.model.nuget.info
Users.Microservice/obj/rider.project.model.nuget.info
Gateway.CookUp/bin/Debug
Users.Microservice/bin/Debug
Users.Microservice/obj/Debug
Users.Microservice/bin
Users.Microservice/obj/Debug
*.dll
*.pdb
*.cache
*.user
Recipes.Microservice/bin
Recipes.Microservice/obj
Gateway.CookUp/bin
Users.Microservice/bin
